@import url('https://fonts.googleapis.com/css?family=Play:400,700&display=swap&subset=cyrillic');
$color-blue: #3a93c3;

/* ABOUT INTRO
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background: url(../img/track-blue-bg.jpg);
    background-size: cover;
}
header {
    background: linear-gradient(#fff 60%, transparent 90%);
}
.input-group-text {
    background-color: #fff;
    border-right: none;
}
.svg-icon {
    width: 20px;
}
@media (min-width: 767px) {
}
