$color-blue: rgb(61, 94, 161);
$color-dark-blue: rgb(0, 46, 93);
$color-white: #fff;

/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    background-color: $color-blue;
}
header {
    background: $color-dark-blue;
    color: $color-white;
}

/* Search Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-page {
    .input-group-text {
        background-color: $color-white;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-control {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    label {
        color: $color-white;
    }
    .svg-icon {
        width: 20px;
    }
}

@media (min-width: 767px) {
}
